---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro"
import BodySection from '../components/BodySection.astro';
import HeroSection from '../components/HeroSection.astro';
import FooterSection from '../components/Footer.astro';
---

<Layout title="Clon de Tesla.">

	<LandingHeader/>
	

	<section class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
		<div class="snap-center">
			<HeroSection />
		</div>
			
		<BodySection/>

		<FooterSection/>

		
	</section>
		
	
	
</Layout>