---
import Section from '../components/Section.astro';
---
<div class="snap-center">
    <Section color="text-stone-800" bodyTitle='Model Y' bodyPrice='From $36,490*' bodySubtitle='After Federal Tax Credit' bodyBodySmallText='*Price before incentives is $43,990, excluding taxes and fees. Subject to change.'>
        <div class="" slot="bodyBackground">
            <picture>
                <source media="(max-width:650px)" srcset="/tesla-auto1mobile.avif">
                <source media="(max-width:465px)" srcset="/tesla-auto1mobile.avif">
                <img src="/teslaAuto1.avif" class="h-screen w-full object-cover rounded-md" alt="">
            </picture>
        </div>
        <div class="text-sm font-semibold  ml-4 mr-4 content-center gap-y-4 grid grid-auto-columns: minmax(0, 1fr); md:gap-x-4 md:mx-auto md:flex" slot="bodyButtons">
            <a class="text-stone-800 bg-white rounded px-20 py-2 inline-block hover:bg-stone-800 hover:text-white transition-colors"href="#">Shop Avalible</a>
            <a class="text-white bg-stone-700 rounded px-20 py-2 inline-block hover:bg-white hover:text-stone-800 transition-colors"href="#">Demo Drive</a>
        </div>
    </Section>
</div>

<div class="snap-center">
    <Section color="text-stone-800" bodyTitle='Model 3' bodyPrice='Lease starting at $329/mo*' bodySubtitle='' bodyBodySmallText='*Excludes taxes and fees with price subject to change. Available in select states. See Details'>
        <div class="" slot="bodyBackground">
            <picture>
                <source media="(max-width:650px)" srcset="/ModeloYMobile.avif">
                <source media="(max-width:465px)" srcset="/ModeloYMobile.avif">
                <img src="/ModeloY.avif" class="h-screen w-full object-cover rounded-md" alt="">
            </picture>
        </div>
        <div class="text-sm font-semibold  ml-4 mr-4 content-center gap-y-4 grid grid-auto-columns: minmax(0, 1fr); md:gap-x-4 md:mx-auto md:flex" slot="bodyButtons">
            <a class="text-stone-800 bg-white rounded px-20 py-2 inline-block hover:bg-stone-800 hover:text-white transition-colors"href="#">Custom Order</a>
            <a class="text-white bg-stone-700 rounded px-20 py-2 inline-block hover:bg-white hover:text-stone-800 transition-colors"href="#">Demo Drive</a>
        </div>
    </Section>
</div>

<div class="snap-center">
    <Section color="text-stone-800" bodyTitle='Model X' bodyPrice='From $68,590*' bodySubtitle='After Federal Tax Credit & Est. Gas Savings' bodyBodySmallText='*Price before incentives and savings is $79,990, excluding taxes and fees. Subject to change. Learn about est. gas savings.'>
        <div class="" slot="bodyBackground">
            <picture>
                <source media="(max-width:650px)" srcset="/ModeloXMobile.avif">
                <source media="(max-width:465px)" srcset="/ModeloXMobile.avif">
                <img src="/ModeloX.avif" class="h-screen w-full object-cover rounded-md" alt="">
            </picture>
        </div>
        <div class="text-sm font-semibold  ml-4 mr-4 content-center gap-y-4 grid grid-auto-columns: minmax(0, 1fr); md:gap-x-4 md:mx-auto md:flex" slot="bodyButtons">
            <a class="text-stone-800 bg-white rounded px-20 py-2 inline-block hover:bg-stone-800 hover:text-white transition-colors"href="#">Custom Order</a>
            <a class="text-white bg-stone-700 rounded px-20 py-2 inline-block hover:bg-white hover:text-stone-800 transition-colors"href="#">Demo Drive</a>
        </div>
    </Section>
</div>

<div class="snap-center">
    <Section color="text-stone-800" bodyTitle='Model S' bodyPrice='From $71,090*' bodySubtitle='After Est. Gas Savings' bodyBodySmallText='*Price before savings is $74,990, excluding taxes and fees. Subject to change. Learn about est. gas savings.'>
        <div class="" slot="bodyBackground">
            <picture>
                <source media="(max-width:650px)" srcset="/ModeloSMobile.avif">
                <source media="(max-width:465px)" srcset="/ModeloSMobile.avif">
                <img src="/ModeloS.avif" class="h-screen w-full object-cover rounded-md" alt="">
            </picture>
        </div>
        <div class="text-sm font-semibold  ml-4 mr-4 content-center gap-y-4 grid grid-auto-columns: minmax(0, 1fr); md:gap-x-4 md:mx-auto md:flex" slot="bodyButtons">
            <a class="text-stone-800 bg-white rounded px-20 py-2 inline-block hover:bg-stone-800 hover:text-white transition-colors"href="#">Custom Order</a>
            <a class="text-white bg-stone-700 rounded px-20 py-2 inline-block hover:bg-white hover:text-stone-800 transition-colors"href="#">Demo Drive</a>
        </div>
    </Section>
</div>

<div class="snap-center">
    <Section color="text-stone-800" bodyTitle='' bodyPrice='' bodySubtitle='' bodyBodySmallText=''>
        <div class="" slot="bodyBackground">
            <picture>
                <source media="(max-width:650px)" srcset="/CybertruckMobile.avif">
                <source media="(max-width:465px)" srcset="/CybertruckMobile.avif">
                <img src="/Cybertruck.avif" class="h-screen w-full object-cover rounded-md" alt="">
            </picture>
        </div>
        <div class="text-sm font-semibold  ml-4 mr-4 content-center gap-y-4 grid grid-auto-columns: minmax(0, 1fr); md:gap-x-4 md:mx-auto md:flex" slot="bodyButtons">
            <a class="text-stone-800 bg-white rounded px-20 py-2 inline-block hover:bg-stone-800 hover:text-white transition-colors"href="#">Order Now</a>
            <a class="text-white bg-stone-700 rounded px-20 py-2 inline-block hover:bg-white hover:text-stone-800 transition-colors"href="#">Lean More</a>
        </div>
    </Section>
</div>

<div class="snap-center">
    <Section color="white" bodyTitle='Solar Panels' bodyPrice='' bodySubtitle='' bodyBodySmallText=''>
        <div class="landing-section" slot="bodyBackground">
            <picture>
                <source media="(max-width:650px)" srcset="/SolarPanelsMobile.avif">
                <source media="(max-width:465px)" srcset="/SolarPanelsMobile.avif">
                <img src="/SolarPanels.avif" class="h-screen w-full object-cover rounded-md" alt="">
            </picture>
        </div>
        <div class="text-sm font-semibold  ml-4 mr-4 content-center gap-y-4 grid grid-auto-columns: minmax(0, 1fr); md:gap-x-4 md:mx-auto md:flex" slot="bodyButtons">
            <a class="text-stone-800 bg-white rounded px-20 py-2 inline-block hover:bg-stone-800 hover:text-white transition-colors"href="#">Order Now</a>
            <a class="text-white bg-stone-700 rounded px-20 py-2 inline-block hover:bg-white hover:text-stone-800 transition-colors"href="#">Lean More</a>
        </div>
    </Section>
</div>

<div class="snap-center">
    <Section color="text-stone-800" bodyTitle='Solar Roof' bodyPrice='' bodySubtitle='Produce Clean Energy From Your Roof' bodyBodySmallText=''>
        <div class="" slot="bodyBackground">
            <picture>
                <source media="(max-width:650px)" srcset="/SolarRoofMobile.avif">
                <source media="(max-width:465px)" srcset="/SolarRoofMobile.avif">
                <img src="/SolarRoof.avif" class="h-screen w-full object-cover rounded-md" alt="">
            </picture>
        </div>
        <div class="text-sm font-semibold  ml-4 mr-4 content-center gap-y-4 grid grid-auto-columns: minmax(0, 1fr); md:gap-x-4 md:mx-auto md:flex" slot="bodyButtons">
            <a class="text-stone-800 bg-white rounded px-20 py-2 inline-block hover:bg-stone-800 hover:text-white transition-colors"href="#">Order Now</a>
            <a class="text-white bg-stone-700 rounded px-20 py-2 inline-block hover:bg-white hover:text-stone-800 transition-colors"href="#">Lean More</a>
        </div>
    </Section>
</div>

<div class="snap-center">
    <Section color="text-stone-800" bodyTitle='Powerwall' bodyPrice='' bodySubtitle='' bodyBodySmallText=''>
        <div class="" slot="bodyBackground">
            <picture>
                <source media="(max-width:650px)" srcset="/PowerwallMobile.avif">
                <source media="(max-width:465px)" srcset="/PowerwallMobile.avif">
                <img src="/Powerwall.avif" class="h-screen w-full object-cover rounded-md" alt="">
            </picture>
        </div>
        <div class="text-sm font-semibold  ml-4 mr-4 content-center gap-y-4 grid grid-auto-columns: minmax(0, 1fr); md:gap-x-4 md:mx-auto md:flex" slot="bodyButtons">
            <a class="text-stone-800 bg-white rounded px-20 py-2 inline-block hover:bg-stone-800 hover:text-white transition-colors"href="#">Order Now</a>
            <a class="text-white bg-stone-700 rounded px-20 py-2 inline-block hover:bg-white hover:text-stone-800 transition-colors"href="#">Lean More</a>
        </div>
    </Section>
</div>

<div class="snap-center">
    <Section color="text-stone-800" bodyTitle='Accessories' bodyPrice='' bodySubtitle='' bodyBodySmallText=''>
        <div class="" slot="bodyBackground">
            <picture>
                <source media="(max-width:650px)" srcset="/AccessoriesMobile.avif">
                <source media="(max-width:465px)" srcset="/AccessoriesMobile.avif">
                <img src="/Accessories.avif" class="h-screen w-full object-cover rounded-md" alt="">
            </picture>
        </div>
        <div class="text-sm font-semibold  ml-4 mr-4 content-center gap-y-4 grid grid-auto-columns: minmax(0, 1fr); md:gap-x-4 md:mx-auto md:flex" slot="bodyButtons">
            <a class="text-stone-800 bg-white rounded px-20 py-2 inline-block hover:bg-stone-800 hover:text-white transition-colors"href="#">Shop Now</a>
        </div>
       
    </Section>
</div>


