
<div class="snap-center">
    <footer class="flex w-full bottom-0 lg:bg-gradient-to-t bg-black lg:bg-transparen py-3 px-9 items-end justify-between z-40">
        <nav class="flex flex-grow basis-0 items-center justify-center">
            <ul class="text-center md:flex [&>li>a]:text-gray-300 [&>li>a]:inline-block text-sm  [&>li>a]:font-normal [&>li>a]:px-2 [&>li>a]:py-2 lg:[&>li>a]:px-4 lg:[&>li>a]:py-2">
                <li><a href="#">Tesla © 2024</a></li>
                <li><a href="#">Privacy & Legal</a></li>
                <li><a href="#">Vehicle Recalls</a></li>
                <li class="hidden md:block"><a href="#">Contact</a></li>
                <li ><a href="#">News</a></li>
                <li class="hidden md:block"><a href="#">Get Updates</a></li>
                <li class="hidden md:block"><a href="#">Locations</a></li>
            </ul>
        </nav>
    </footer>
</div>
