---
import MySwiper from '../reacts/components/Slider.jsx';
---
<section class="bg-black text-center relative overflow-hidden snap-center landing-section h-screen md:h-screen lg:h-full"  data-header-color="white" >
    <MySwiper client:load/>
</section>